<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.module.inspect.dao.mapper.InspectNewProblemCustomViewMapper">

    <select id="checkInspectNewProblemCustomViewIsExists" parameterType="codedriver.framework.inspect.dto.InspectNewProblemCustomViewVo" resultType="java.lang.Integer">
        select count(1) from inspect_new_problem_customview where `name` = #{name} and `user_uuid` = #{userUuid} and `id` != #{id}
    </select>

    <select id="getInspectNewProblemCustomViewById" parameterType="java.lang.Long"
            resultType="codedriver.framework.inspect.dto.InspectNewProblemCustomViewVo">
        select `id`,
               `name`,
               `user_uuid` as userUuid,
               `condition_config` as conditionConfigStr
        from inspect_new_problem_customview
        where `id` = #{value}
    </select>

    <select id="getInspectNewProblemCustomViewListByUserUuid" parameterType="java.lang.String"
            resultType="codedriver.framework.inspect.dto.InspectNewProblemCustomViewVo">
        select `id`,
               `name`,
               `user_uuid` as userUuid,
               `condition_config` as conditionConfigStr
        from inspect_new_problem_customview
        where `user_uuid` = #{value}
        order by
    </select>

    <update id="updateInspectNewProblemCustomView" parameterType="codedriver.framework.inspect.dto.InspectNewProblemCustomViewVo">
        update inspect_new_problem_customview set
        <if test="name != null and name != ''">
            `name` = #{name},
        </if>
        <if test="conditionConfigStr != null and conditionConfigStr != ''">
            `condition_config` = #{conditionConfigStr},
        </if>
        `user_uuid` = #{userUuid}
        where `id` = #{id}
    </update>

    <update id="updateInspectNewProblemCustomViewName" parameterType="codedriver.framework.inspect.dto.InspectNewProblemCustomViewVo">
        update inspect_new_problem_customview set
        `name` = #{name}
        where `id` = #{id}
    </update>

    <update id="updateInspectNewProblemCustomViewCondition" parameterType="codedriver.framework.inspect.dto.InspectNewProblemCustomViewVo">
        update inspect_new_problem_customview set
        `condition_config` = #{conditionConfigStr}
        where `id` = #{id}
    </update>

    <insert id="insertInspectNewProblemCustomView" parameterType="codedriver.framework.inspect.dto.InspectNewProblemCustomViewVo">
        insert into inspect_new_problem_customview (
            `id`,
            `name`,
            `user_uuid`,
            `condition_config`
        ) values (
              #{id},
              #{name},
              #{userUuid},
              #{conditionConfigStr}
        )
    </insert>

    <delete id="deleteInspectNewProblemCustomViewById" parameterType="java.lang.Long">
        delete from inspect_new_problem_customview where `id` = #{value}
    </delete>

</mapper>

