<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.module.inspect.dao.mapper.InspectConfigurationFileMapper">

    <select id="getPathListByResourceId" parameterType="java.lang.Long" resultType="java.lang.String">
        SELECT
            `path`
        FROM `inspect_resource_configuration_file_path`
        WHERE `resource_id` = #{value}
    </select>

    <select id="getInpectResourceConfigurationFilePathById" parameterType="java.lang.Long" resultType="codedriver.framework.inspect.dto.InspectResourceConfigurationFilePathVo">
        SELECT
            `id`,
            `resource_id` AS resourceId,
            `path`,
            `md5`,
            `inspect_time` AS inspectTime,
            `file_id` AS fileId
        FROM `inspect_resource_configuration_file_path`
        WHERE `id` = #{value}
    </select>

    <select id="getInpectResourceConfigurationFilePathListByResourceId" parameterType="java.lang.Long" resultType="codedriver.framework.inspect.dto.InspectResourceConfigurationFilePathVo">
        SELECT
            `id`,
            `resource_id` AS resourceId,
            `path`,
            `md5`,
            `inspect_time` AS inspectTime,
            `file_id` AS fileId
        FROM `inspect_resource_configuration_file_path`
        WHERE `resource_id` = #{value}
    </select>

    <select id="getInpectResourceConfigurationFilePathListByResourceIdList" parameterType="java.lang.Long" resultType="codedriver.framework.inspect.dto.InspectResourceConfigurationFilePathVo">
        SELECT
            `id`,
            `resource_id` AS resourceId,
            `path`,
            `md5`,
            `inspect_time` AS inspectTime,
            `file_id` AS fileId
        FROM `inspect_resource_configuration_file_path`
        WHERE `resource_id` IN
        <foreach collection="list" item="resourceId" open="(" separator="," close=")">
            #{resourceId}
        </foreach>
    </select>

    <select id="getInpectResourceConfigurationFileRecordIdListByPathId" parameterType="java.lang.Long" resultType="java.lang.Long">
        SELECT
            `id`
        FROM `inspect_resource_configuration_file_record`
        WHERE `path_id` = #{value}
    </select>

    <select id="getInpectResourceConfigurationFileRecordIdListByPathIdList" parameterType="java.lang.Long" resultType="java.lang.Long">
        SELECT
            `id`
        FROM `inspect_resource_configuration_file_record`
        WHERE `path_id` IN
        <foreach collection="list" item="pathId" open="(" separator="," close=")">
            #{pathId}
        </foreach>
    </select>

    <select id="getInpectResourceConfigurationFileVersionListByPathId" parameterType="java.lang.Long" resultType="codedriver.framework.inspect.dto.InspectResourceConfigurationFileVersionVo">
        SELECT
            `id`,
            `md5`,
            `inspect_time` AS inspectTime,
            `file_id` AS fileId,
            `record_id` AS recordId,
            `path_id` AS pathId
        FROM `inspect_resource_configuration_file_version`
        WHERE `path_id` = #{value}
    </select>

    <select id="getInpectResourceConfigurationFileVersionListByPathIdList" parameterType="java.lang.Long" resultType="codedriver.framework.inspect.dto.InspectResourceConfigurationFileVersionVo">
        SELECT
            `id`,
            `md5`,
            `inspect_time` AS inspectTime,
            `file_id` AS fileId,
            `record_id` AS recordId,
            `path_id` AS pathId
        FROM `inspect_resource_configuration_file_version`
        WHERE `path_id` IN
        <foreach collection="list" item="pathId" open="(" separator="," close=")">
            #{pathId}
        </foreach>
    </select>

    <insert id="insertInpectResourceConfigurationFilePath" parameterType="codedriver.framework.inspect.dto.InspectResourceConfigurationFilePathVo">
        INSERT INTO `inspect_resource_configuration_file_path` (
            `id`,
            `resource_id`,
            `path`
        )
        VALUES
        (
            #{id},
            #{resourceId},
            #{path}
        )
    </insert>

    <update id="updateInpectResourceConfigurationFilePath" parameterType="codedriver.framework.inspect.dto.InspectResourceConfigurationFilePathVo">
        UPDATE `inspect_resource_configuration_file_path`
        SET
            `md5` = #{md5},
            `inspect_time` = #{inspectTime},
            `file_id` = #{fileId}
        WHERE `id` = #{id}
    </update>

    <update id="resetInpectResourceConfigurationFilePathFileInfoById" parameterType="java.lang.Long">
        UPDATE `inspect_resource_configuration_file_path`
        SET
            `md5` = null,
            `inspect_time` = null,
            `file_id` = null
        WHERE `id` = #{value}
    </update>

    <update id="resetInpectResourceConfigurationFilePathFileInfoByIdList" parameterType="java.lang.Long">
        UPDATE `inspect_resource_configuration_file_path`
        SET
            `md5` = null,
            `inspect_time` = null,
            `file_id` = null
        WHERE `id` IN
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <delete id="deleteResourceConfigFilePathByResourceId" parameterType="java.lang.Long">
        DELETE FROM `inspect_resource_configuration_file_path`
        WHERE `resource_id` = #{value}
    </delete>

    <delete id="deleteResourceConfigFilePathById" parameterType="java.lang.Long">
        DELETE FROM `inspect_resource_configuration_file_path`
        WHERE `id` = #{value}
    </delete>

    <delete id="deleteResourceConfigFilePathByIdList" parameterType="java.lang.Long">
        DELETE FROM `inspect_resource_configuration_file_path`
        WHERE `id` IN
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteResourceConfigFileVersionByPathId" parameterType="java.lang.Long">
        DELETE FROM `inspect_resource_configuration_file_version`
        WHERE `path_id` = #{value}
    </delete>

    <delete id="deleteResourceConfigFileVersionByPathIdList" parameterType="java.lang.Long">
        DELETE FROM `inspect_resource_configuration_file_version`
        WHERE `path_id` IN
        <foreach collection="list" item="pathId" open="(" separator="," close=")">
            #{pathId}
        </foreach>
    </delete>

    <delete id="deleteResourceConfigFileRecordByIdList" parameterType="java.lang.Long">
        DELETE FROM `inspect_resource_configuration_file_record`
        WHERE `id` IN
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteResourceConfigFileRecordByPathId" parameterType="java.lang.Long">
        DELETE FROM `inspect_resource_configuration_file_record`
        WHERE `path_id` = #{value}
    </delete>

    <delete id="deleteResourceConfigFileRecordByPathIdList" parameterType="java.lang.Long">
        DELETE FROM `inspect_resource_configuration_file_record`
        WHERE `path_id` IN
        <foreach collection="list" item="pathId" open="(" separator="," close=")">
            #{pathId}
        </foreach>
    </delete>
</mapper>

